.App {
  text-align: center;
  background-color: #282c34;
  height: 50px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding-top: 2%;
}

.logo{
  flex: 2.5;
}
.link{
  flex:5;
  /* justify-content: space-between; */
}
.link a{
  margin-left: 10%;
  color: white;
  text-decoration: none;
}
.button{
  flex: 2.5;
}

button{
  width: 30%;
  height: 50%;
  background-color: aqua;
  border: none;
  border-radius: 15px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
